<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <style>
    html {background-color: #252d4c; color: white; font-family: 'Roboto', sans-serif;}
    .row { display: flex; flex-direction: column;}
    .text-center {text-align: center;}
    .p-10 {padding:10px}
    .outline {text-decoration:none; border:1px solid white; color:white; border-radius:5px}
    .outline:hover {border: 1px solid #252d4c; color: #252d4c; background-color:white}
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <body>
    <div class="row">
      <div class="text-center">
        <h2>Olá, <%= @resource.name %>!</h2>
      </div>

      <div class="text-center">
        <p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do botão abaixo.</p>
      </div>

      <div class="text-center p-10">
        <%= link_to 'Alterar Minha Senha', "#{message['redirect-url']}?reset_password_token=#{@token}", class: "outline p-10"%>
      </div>     

      <div class="text-center">
        <p>
          <span>Se você não solicitou isso, ignore este e-mail.</span><br>
          <span>Sua senha não mudará até que você clique no botão acima e crie uma nova.</span>
        </p>
      </div>

      </div>
  </body>
</html>
